<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.apple.dt.unit.customBase</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.sceneLifecycleApplication</string>
		<string>com.apple.dt.unit.coreDataCocoaTouchApplication</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template provides a starting point for an application that uses a single view. It provides a view controller to manage the view, and a storyboard or nib file that contains the view.</string>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Units</key>
			<dict>
				<key>Objective-C</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>ViewController.h:comments</string>
						<string>ViewController.h:imports:importCocoa</string>
						<string>ViewController.h:interface(___FILEBASENAME___ : UIViewController)</string>
						<string>ViewController.m:comments</string>
						<string>ViewController.m:imports:importHeader:ViewController.h</string>
						<string>ViewController.m:extension</string>
						<string>ViewController.m:implementation:methods:viewDidLoad(- (void\)viewDidLoad)</string>
						<string>ViewController.m:implementation:methods:viewDidLoad:super</string>
					</array>
				</dict>
				<key>Swift</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>ViewController.swift:comments</string>
						<string>ViewController.swift:imports:importCocoa</string>
						<string>ViewController.swift:implementation(___FILEBASENAME___: UIViewController)</string>
						<string>ViewController.swift:implementation:methods:viewDidLoad(override func viewDidLoad(\))</string>
						<string>ViewController.swift:implementation:methods:viewDidLoad:super</string>
					</array>
				</dict>
			</dict>
		</dict>
	</array>
	<key>Definitions</key>
	<dict>
		<key>Utils/UserDefaultsAdapter.swift</key>
		<dict>
			<key>Path</key>
			<string>Utils/UserDefaultsAdapter.swift</string>
			<key>Group</key>
			<string>Utils</string>
		</dict>
		<key>Utils/WKPresentTransition.swift</key>
		<dict>
			<key>Path</key>
			<string>Utils/WKPresentTransition.swift</string>
			<key>Group</key>
			<string>Utils</string>
		</dict>
		<key>NetworkStatus/NetWorkStatusManager.swift</key>
		<dict>
			<key>Path</key>
			<string>NetworkStatus/NetWorkStatusManager.swift</string>
			<key>Group</key>
			<string>NetworkStatus</string>
		</dict>
		<key>Empty/EmptyCoordinator.swift</key>
		<dict>
			<key>Path</key>
			<string>Empty/EmptyCoordinator.swift</string>
			<key>Group</key>
			<string>Empty</string>
		</dict>
		<key>Empty/EmptyViewController.swift</key>
		<dict>
			<key>Path</key>
			<string>Empty/EmptyViewController.swift</string>
			<key>Group</key>
			<string>Empty</string>
		</dict>
		<key>Empty/EmptyViewController.xib</key>
		<dict>
			<key>Path</key>
			<string>Empty/EmptyViewController.xib</string>
			<key>Group</key>
			<string>Empty</string>
		</dict>
		<key>Tabbar/TabbarCoordinator.swift</key>
		<dict>
			<key>Path</key>
			<string>Tabbar/TabbarCoordinator.swift</string>
			<key>Group</key>
			<string>Tabbar</string>
		</dict>
		<key>Tabbar/WKTabBarController.swift</key>
		<dict>
			<key>Path</key>
			<string>Tabbar/WKTabBarController.swift</string>
			<key>Group</key>
			<string>Tabbar</string>
		</dict>
		<key>RxDataSources/SectionModel.swift</key>
		<dict>
			<key>Path</key>
			<string>RxDataSources/SectionModel.swift</string>
			<key>Group</key>
			<string>RxDataSources</string>
		</dict>
		<key>Coordinator/BaseCoordinator.swift</key>
		<dict>
			<key>Path</key>
			<string>Coordinator/BaseCoordinator.swift</string>
			<key>Group</key>
			<string>Coordinator</string>
		</dict>
		<key>TransitionViewController.swift</key>
		<dict>
			<key>Path</key>
			<string>TransitionViewController.swift</string>
		</dict>
		<key>SceneDelegate.swift</key>
		<dict>
			<key>Path</key>
			<string>SceneDelegate.swift</string>
		</dict>
		<key>RxDataSources/Item.swift</key>
		<dict>
			<key>Path</key>
			<string>RxDataSources/Item.swift</string>
			<key>Group</key>
			<string>RxDataSources</string>
		</dict>
		<key>Helpers.swift</key>
		<dict>
			<key>Path</key>
			<string>Helpers.swift</string>
		</dict>
		<key>AppCoordinator.swift</key>
		<dict>
			<key>Path</key>
			<string>AppCoordinator.swift</string>
		</dict>
		<key>AppDelegate.swift</key>
		<dict>
			<key>Path</key>
			<string>AppDelegate.swift</string>
		</dict>
		<key>Info.plist</key>
		<dict>
			<key>Path</key>
			<string>Info.plist</string>
		</dict>
		<key>ViewController.swift</key>
		<dict>
			<key>Path</key>
			<string>ViewController.swift</string>
		</dict>
	</dict>
	<key>Nodes</key>
	<array>
		<string>Utils/WKPresentTransition.swift:comments</string>
		<string>Utils/UserDefaultsAdapter.swift:comments</string>
		<string>NetworkStatus/NetWorkStatusManager.swift:comments</string>
		<string>Empty/EmptyViewController.swift:comments</string>
		<string>Empty/EmptyViewController.xib:comments</string>
		<string>Empty/EmptyCoordinator.swift:comments</string>
		<string>Tabbar/TabbarCoordinator.swift:comments</string>
		<string>Tabbar/WKTabBarController.swift:comments</string>
		<string>RxDataSources/SectionModel.swift:comments</string>
		<string>Coordinator/BaseCoordinator.swift:comments</string>
		<string>TransitionViewController.swift</string>
		<string>SceneDelegate.swift</string>
		<string>RxDataSources/Item.swift:comments</string>
		<string>Helpers.swift</string>
		<string>AppCoordinator.swift</string>
		<string>AppDelegate.swift</string>
		<string>Info.plist</string>
		<string>ViewController.swift</string>
	</array>
	<key>Image</key>
	<dict>
		<key>BundleImageName</key>
		<string>app</string>
		<key>BundleIdentifier</key>
		<string>com.apple.dt.IDEKit</string>
	</dict>
</dict>
</plist>
